@import 'tailwindcss';
@plugin './hero.mts';
@config '../../tailwind.config.mjs';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

::selection {
  background: hsl(var(--heroui-primary));
  color: white;
}

#lend-page *::selection,
#lenders *::selection,
#invest-page *::selection,
#connect-telegram *::selection {
  background: hsl(var(--heroui-secondary));
  color: white;
}

::-webkit-scrollbar {
  width: 0.25em;
  height: 0.25em;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px hsl(var(--heroui-default-600) / 0.5);
}
::-webkit-scrollbar-thumb {
  background-color: hsl(var(--heroui-default-600));
}

button,
[role='button'] {
  cursor: pointer;
}

@utility container {
  @apply mx-auto max-w-7xl px-6 sm:px-6 lg:px-10;
}

::view-transition-old(root) {
  animation-delay: 500ms;
}

::view-transition-new(root) {
  animation: circle-in 500ms;
}

@keyframes circle-in {
  from {
    clip-path: circle(0% at 100% 0%);
  }
  to {
    clip-path: circle(200% at 100% 0%);
  }
}

/* ::view-transition-group(root) {
  animation-duration: 1s;
}

@property --time {
  syntax: '<number>';
  initial-value: 0;
  inherits: true;
}

@keyframes move-out {
  from {
  }
  to {
  }
}

@keyframes move-in {
  from {
    --time: -0.1;
  }
  to {
    --time: 1.1;
  }
}

::view-transition-old(root) {
  animation: 1s ease-in both move-out;
}

::view-transition-new(root) {
  --humps: 1.5;
  --pi: 3.14;
  --lr: calc(var(--humps) * var(--pi));
  --time: 0;
  clip-path: polygon(
    0% 0%,
    0%
      calc(
        cos(calc(0 + var(--time)) * var(--lr)) * 10% + calc(100% * var(--time))
      ),
    10%
      calc(
        cos(calc(0.1 + var(--time)) * var(--lr)) * 10% +
          calc(100% * var(--time))
      ),
    20%
      calc(
        cos(calc(0.2 + var(--time)) * var(--lr)) * 10% +
          calc(100% * var(--time))
      ),
    30%
      calc(
        cos(calc(0.3 + var(--time)) * var(--lr)) * 10% +
          calc(100% * var(--time))
      ),
    40%
      calc(
        cos(calc(0.4 + var(--time)) * var(--lr)) * 10% +
          calc(100% * var(--time))
      ),
    50%
      calc(
        cos(calc(0.5 + var(--time)) * var(--lr)) * 10% +
          calc(100% * var(--time))
      ),
    60%
      calc(
        cos(calc(0.6 + var(--time)) * var(--lr)) * 10% +
          calc(100% * var(--time))
      ),
    70%
      calc(
        cos(calc(0.7 + var(--time)) * var(--lr)) * 10% +
          calc(100% * var(--time))
      ),
    80%
      calc(
        cos(calc(0.8 + var(--time)) * var(--lr)) * 10% +
          calc(100% * var(--time))
      ),
    90%
      calc(
        cos(calc(0.9 + var(--time)) * var(--lr)) * 10% +
          calc(100% * var(--time))
      ),
    100%
      calc(
        cos(calc(1 + var(--time)) * var(--lr)) * 10% + calc(100% * var(--time))
      ),
    100% 0%
  );
  animation: 1.5s ease-in both move-in;
} */
